.body {
    margin: 0;
    overflow: hidden;
    background-color: #1a1a1a;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#verticalButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button,
input[type="number"] {
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 15px;
    margin: 5px;
    text-align: center;
}

input[type="number"] {
    background-color: #fff;
    color: #000;
    font-size: 10px;
    appearance: textfield;
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button:hover {
    background-color: blue;
}

#main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #1a1a1a;
}

#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
    background-color: gray;
}

#nueral-network {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50vw;
    background-color: #000000;
}

/* #control-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 20vw;
    background-color: #cfd2ff;
} */